.td-icon[class*="pimcore_icon"] {
    background-position: left center!important;
}
.td-icon {
    padding-left: 15px;
}

.mapper-required-field {
    color: #ff0000;
}
.pimcore_class_IntegrationConfiguration .x-grid-group-hd-not-collapsible {
    display: none;
}